clip_structure/CLIP/clip/__pycache__/
clip_structure/CLIP/clip/bpe_simple_vocab_16e6.txt.gz
clip_structure/.DS_Store
__MACOSX/clip_structure/._.DS_Store
.vscode/settings.json
clip_structure.zip
CLIPasso/clip_structure/CLIP/clip/bpe_simple_vocab_16e6.txt.gz
CLIPasso/clip_structure/.DS_Store
CLIPasso/notebooks/.ipynb_checkpoints/
CLIPasso/notebooks/images/
CLIPasso/target_images/
clip_structure/CLIP/clip/.ipynb_checkpoints/
clip_structure/.ipynb_checkpoints/
CLIPasso/notebooks/.ipynb_checkpoints/mlp_sketch-checkpoint.ipynb
CLIPasso/clip_structure/.ipynb_checkpoints/Untitled-checkpoint.ipynb
CLIPasso/clip_structure/CLIP/clip/.ipynb_checkpoints/model-checkpoint.py
CLIPasso/clip_structure/.ipynb_checkpoints/example-checkpoint.py
CLIPasso/CLIP_/clip/.ipynb_checkpoints/model-checkpoint.py
CLIPasso/notebooks/.ipynb_checkpoints/mlp_sketch-checkpoint.ipynb
